<div id="course">
	<div class="course_tuijian">
		<div class="course_tuijian_left">
			<img src="image/jscourse.jpg">
			<span>JavaScript实现原理</span>
			<div class="zt"><span>高级&nbsp;-</span><span>3636人学习</span></div>
		</div>
		<div class="course_tuijian_right">
			<img src="image/angularcourse.jpg">
			<span>angular源项目实现</span>
			<div class="zt"><span>高级&nbsp;-</span><span>3636人学习</span></div>
	</div> 
	<div class="course_tuijian">
		<div class="course_tuijian_left">
			<img src="image/webcourse.jpg">
			<span>JavaScript实现原理</span>
			<div class="zt"><span>高级&nbsp;-</span><span>3636人学习</span></div>
		</div>
		<div class="course_tuijian_right">
			<img src="image/mscourse.jpg">
			<span>JavaScript实现原理</span>
			<div class="zt"><span>高级&nbsp;-</span><span>3636人学习</span></div>
	</div> 
</div>