<div id="me">
<div class='me_head'>
	<div class="xq_search">
		<span><img src="image/搜索.png"></span>
		<span>说你想说,想你所想</span>
		<span>分亨</span>
	</div>
	</div>
	<div class="me_cotent">
		<div class="me_one p-R" >
			<div class="me-left"></div>
			<div class="me-right p-A">
				<p>人生需要走</p>
				<p>查看或编辑个人主页</p>
			</div>
			<div ng-click="fh();" class="fanhui p-A"><img src="image/fh.png"></div>
		</div>
	
	</div>
		<div class="me_tow">
			<div class="me_tow_tow p-R">
				<i>
					<img src="image/笔.png">
				</i>
				<p>我的创作</p>
			</div>
			<div class="me_tow_tow">
				<i>
					<img src="image/收藏.png">
				</i>
				<p>我的收藏</p>
			</div>
			<div class="me_tow_tow">
				<i>
					<img src="image/关注.png">
				</i>
				<p>我的关注</p>
			</div>
		</div>

		<div class="me_tow">
			<div class="me_tow_tow">
				<i>
					<img src="image/购物.png">
				</i>
				<p>已购买内容</p>
			</div>
			<div class="me_tow_tow">
				<i>
					<img src="image/生活.png">
				</i>
				<p>我的Live</p>
			</div>
			<div class="me_tow_tow">
				<i>
					<img src="image/购物车_b.png">
				</i>
				<p>我的购物车</p>
			</div>
			<div class="me_tow_tow">
				<i>
					<img src="image/余额1.png">
				</i>
				<p>我的余额</p>
			</div>
			<div class="me_tow_tow">
				<i>
					<img src="image/我的礼券.png">
				</i>
				<p>我的礼券</p>
			</div>
		</div>
	</div>
	<div app-sheet></div>